.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right__date {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.header__left__title {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
